<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person List</title>
</head>
<body>
<h1 th:if="${#lists.size(personList) == 0}">
    No Person
</h1>

<table  th:if="${#lists.size(personList)> 0}">
    <thead>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Operation</th>
    </thead>

    <tbody>
    <tr th:each="p : ${personList}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.firstName}"></td>
        <td th:text="${p.lastName}"></td>
        <td th:text="${p.email}"></td>
        <td>
            <button th:onclick="edit('[[${p.id}]]')">Edit</button>
            <button>Remove</button>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function edit(id){
        window.location.replace("/person/edit?id=" + id);
    }
</script>
</body>
</html>