<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
<h1>Person</h1>
<form id="user-form" th:action="@{/user/save}" method="post">
    <label>
        First Name : <input type="text" id="firstName" name="firstName">
    </label>
    <label>
        Last Name : <input type="text" id="lastName" name="lastName">
    </label>
    <label>
        Username : <input type="text" id="username" name="username">
    </label>
    <label>
        Password : <input type="password" id="password" name="password">
    </label>
    <label>
        Email : <input type="email" id="email" name="email">
    </label>
    <button type="submit">Register</button>

</form>
</body>
</html>